<!DOCTYPE html>
<html>
<head>
    <title>Estados Financieros</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="p-4">

<h2>Estados Financieros</h2>
<a href="/dashboard" class="btn btn-secondary mb-3">Volver</a>

<div class="row">

    <div class="col-md-4">
        <div class="card p-3">
            <h5>Balance General</h5>
            <p>Activos: {{ total_activos }}</p>
            <p>Pasivos: {{ total_pasivos }}</p>
            <p>Capital: {{ total_capital }}</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card p-3">
            <h5>Estado de Resultados</h5>
            <p>Ingresos: {{ ingresos }}</p>
            <p>Gastos: {{ gastos }}</p>
            <p>Utilidad: {{ utilidad }}</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card p-3">
            <h5>Balance de Saldos</h5>
            <p>Total Débitos: {{ total_debe }}</p>
            <p>Total Créditos: {{ total_haber }}</p>
        </div>
    </div>

</div>

<div class="container mt-4">

    <div class="row g-3">

        <!-- JORNALIZACION -->
        <div class="col-md-3">
            <a href="/jornalizacion" class="btn btn-primary w-100 p-3">
                📘 Jornalización
            </a>
        </div>

        <!-- DIARIO MAYOR -->
        <div class="col-md-3">
            <a href="/diario_mayor" class="btn btn-success w-100 p-3">
                📖 Diario Mayor
            </a>
        </div>

        <!-- BALANCE DE SALDOS -->
        <div class="col-md-3">
            <a href="/balance_saldos" class="btn btn-warning w-100 p-3">
                📊 Balance de Saldos
            </a>
        </div>


        <!-- ESTADOS FINANCIEROS -->
        <div class="col-md-3">
            <a href="/estados_financieros" class="btn btn-secondary w-100 p-3">
                📋 Estados Financieros
            </a>
        </div>

         <!-- BALANCE GENERAL -->
        <div class="col-md-3">
            <a href="/balance_general" class="btn btn-dark w-100 p-3">
                🏦 Balance General
            </a>
        </div>
    

        <!-- ESTADO RESULTADOS -->
        <div class="col-md-3">
            <a href="/estado_resultados" class="btn btn-info w-100 p-3">
                📈 Estado de Resultados
            </a>
        </div>

       

    </div>

</div>


</body>
</html>>
